.main {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.container {
  max-width: 600px;
  width: 100%;
}

.button {
  width: 100%;
  padding: 16px;
  margin: 5px 0;
  font-size: 32px;
  border: none;
  background-color: lightgray;
  cursor: pointer;
  text-align: left;
}

.button.green {
  background-color: lightgreen;
}

.successmessage {
  margin-top: 20px;
  padding: 10px;
  /* background-color: lightgreen; */
  color: black;
  text-align: center;
  border-radius: 5px;
}

@media screen and (max-width: 760px) {
  .main {
    padding: 0px;
  }
  .container {
    max-width: 100%;
    width: calc(100% - 16px);
    margin-top: 16px;
    margin-bottom: 64px;
  }

  .button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    font-size: 24px;
    border: none;
    background-color: lightgray;
    cursor: pointer;
    text-align: left;
    margin-top: 16px;
  }
}
